# Misc assignment files
assignment.pdf

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/crash.log
terraform/override.tf
terraform/override.tf.json
terraform/*_override.tf
*.tfvars
!*.tfvars.example

# Packer
packer/manifest.json
packer/*.pkrvars.hcl

# Misc
*.log
.DS_Store
.env
