region             = "ap-south-1"
platform           = "platform"
environment        = "assignment"
instance_type      = "t3.micro"
docker_image       = "ghcr.io/bh-an/ec2-go-service:latest"
# key_pair_name    = "my-key-pair"
